@*@model IEnumerable<Styler.Areas.Admin.Models.ProductViewModel>*@
@model Styler.Areas.Admin.Models.ProductsListViewModel
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                ქმედება
            </th>
        </tr>
    </thead>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                @product.ProductName
            </td>
            <td>
                @product.Description
            </td>
            <td>
                $@product.Price
            </td>
            <td>
                <a class="btn btn-warning" href="/Admin/Product/Edit/@product.ProductID">რედაქტირება</a>
                <a class="btn btn-danger deleteProduct" href="#" data-id="@product.ProductID">წაშლა</a>
            </td>
        </tr>
    }
</table>
<div class="">

    @if (Model.CurrentPageNumber > 1)
    {
        @Html.ActionLink("1", "ProductList", new { pageNumber = 1, keyWord = Model.KeyWord }, new { @class = "btn btn-default" })
    }
    @if (Model.CurrentPageNumber > 2)
    {
        @Html.ActionLink("<", "ProductList", new { pageNumber = Model.CurrentPageNumber - 1, keyWord = Model.KeyWord }, new { @class = "btn btn-default" })
    }
    <span class="btn btn-danger">@Model.CurrentPageNumber</span>
    @if (Model.PageCount - Model.CurrentPageNumber >= 2)
    {
        @Html.ActionLink(">", "ProductList", new { pageNumber = Model.CurrentPageNumber + 1, keyWord = Model.KeyWord }, new { @class = "btn btn-default" })
    }
    @if (Model.CurrentPageNumber < Model.PageCount)
    {

        @Html.ActionLink(Model.PageCount.ToString(), "ProductList", new { pageNumber = Model.PageCount.Value, keyWord = Model.KeyWord }, new { @class = "btn btn-default" })
    }
</div>

@*   KeyWord რომ გამოჩნდეს სერჩბოქსში ამის მცდელობა :)) *@
@*@section scripts{  
    <script>
        $(function(){
            var keyword = "@Model.KeyWord";
            debugger;
            if (keyword) {
                $('#searchBox').value = keyword;
            }
        })
    </script>
}*@
