<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="header">
        <div class="header-top refresh-container">
            <div class="logo">
                <div class="imagesComponent ">
                    <a href="#">
                        <img src="~/Resources/Images/fashion_bgifted-logo.png" class="gae-click*Global-Header-sixpmrefreshheader*Promos*6pm-Your-Premier-Destination-for-Discount-Fashion images " alt="Logo">
                    </a>
                </div>
            </div>
            <div class="callout-top">
                <a href="/shipping-and-delivery-questions" class="gae-click*Global-Header-sixpmrefreshheader*Promos* bannerComponent ">
                    <p>
                        <span class="red">
                            Free shipping
                        </span>
                        any 2+ items or $50+!
                    </p>
                    <p class="calloutlink">See Details</p>
                </a>
            </div>
            <div class="phone-callout">
                <div>
                    <a class="phone gae-click*Global*Header*Phone-Desktop" href="tel:1-888-676-2660">
                        +995 599 46 84 09
                    </a>
                    <div class="time">
                        @DateTime.UtcNow
                    </div>
                </div>
            </div>
            <div class="icons">
                <div class="icon-dropdown">
                    <a href="/account" title="Account" class="icon-account gae-click*Global*Header*My-Account"></a>
                    <ul id="accountInfo-6pmrefresh">
                        <li class="first login-register"><a href="#">Log In or Register</a></li>
                        <li><a href="/account">My Account</a></li>
                    </ul>
                </div>
                <div class="hide-mobile">
                    <a href="/customer-service-center" class="icon-help gae-click*Global*Header*Help" title="Help"></a>
                </div>
                <div>
                    <a href="/account/favorites" class="icon-heart gae-click*Global*Header*Favorites" title="Favorites"></a>
                </div>
                <div>
                    <a href="/cart" title="Shopping Bag" class="icon-bag gae-click*Global*Header*Cart">
                        <span class="cart-count hidden"></span>
                    </a>
                </div>
                <div class="mobile-nav-toggle gae-click*Global*Header*Mobile-Nav-Open" data-nav-toggle=""></div>
            </div>
        </div>
        @Html.Partial("_Header")
        </div>
       

        <div class="container body-content">

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Date.ToShortDateString() - SoLaRiS</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
