@model Styler.Areas.Admin.Models.Categories.CategoriesListViewModel
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                დასახელება
            </th>
            <th>
                ქმედება
            </th>
        </tr>
    </thead>
    @foreach (var Item in Model.Categories)
    {
        <tr>
            <td>
                @Item.CategoryName
            </td>
            <td>
                @*<a class="btn btn-warning" href="/Admin/Product/Edit/@product.ProductID">რედაქტირება</a>*@
                <a class="btn btn-danger deleteCategory" href="#" data-id="@Item.CategoryID">წაშლა</a>
                @Html.ActionLink("რედაქტირება", "Edit", new { id = Item.CategoryID }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }
</table>
@* Pagination section *@
<div class="">

    @if (Model.CurrentPageNumber > 1)
    {
        @Html.ActionLink("1", "CategoriesList", new { pageNumber = 1, keyWord = Model.KeyWord }, new { @class = "btn btn-default" })
    }
    @if (Model.CurrentPageNumber > 2)
    {
        @Html.ActionLink("<", "CategoriesList", new { pageNumber = Model.CurrentPageNumber - 1, keyWord = Model.KeyWord }, new { @class = "btn btn-default" })
    }
    <span class="btn btn-danger">@Model.CurrentPageNumber</span>
    @if (Model.PageCount - Model.CurrentPageNumber >= 2)
    {
        @Html.ActionLink(">", "CategoriesList", new { pageNumber = Model.CurrentPageNumber + 1, keyWord = Model.KeyWord }, new { @class = "btn btn-default" })
    }
    @if (Model.CurrentPageNumber < Model.PageCount)
    {

        @Html.ActionLink(Model.PageCount.ToString(), "CategoriesList", new { pageNumber = Model.PageCount.Value, keyWord = Model.KeyWord }, new { @class = "btn btn-default" })
    }
</div>
<script>
    var keyword = "@Model.KeyWord";
</script>

